.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:#070606;
  color: white;
}

.gradient-background1 {
  background: linear-gradient(300deg, #7507c9, #cfcde7, #05329a);
  background-size: 180% 180%;
  animation: gradient-animation 1s ease infinite;
}

.gradient-background2 {
  background: linear-gradient(300deg, #ab0362, #d9e5ee, #aa1212);
  background-size: 180% 180%;
  animation: gradient-animation 1s ease infinite;
}

.fa-twitter{
  height: 5px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white
}